<div class="container">
    <%- partial('partials/social', {}) %>
    <div class="copyright">
        <span>
            © iLiKE Theme 2018
        </span>
    </div>
    <div class="power">
        <span>
            Powered by <a href="">Hexo</a> & <a href="">iLiKE Theme</a>
        </span>
    </div>
</div>