<div class="container">
    <div class="menu">
      <div class="menu-left">
        <a href="/">
          <img src="<%-theme.favicon%>"></img>
        </a>
      </div>
      <div class="menu-right">
        <% Object.keys(theme.menu).forEach(function(key) { var title = key %>
          <% if (key == "Home") { title = _p('menu.home') %>
          <% } %>
          <% if (key == "Archives") { title = _p('menu.archives') %>
          <% } %>
          <% if (key == "Tags") { title = _p('menu.tags') %>
          <% } %>
          <% if (key == "Categories") { title = _p('menu.categories') %>
          <% } %>
          <% if (key == "About") { title = _p('menu.about') %>
          <% } %>
          <a href="<%=theme.menu[key]%>"><%=title%></a>
        <% }); %>
      </div>
    </div>
</div>