<div class="social">
	<ul class="social-list">
		<!--Weibo-->
		<% if (theme.social.weibo) { %>
			<li>
				<a href="<%= theme.social.weibo%>" title="我的微博" target="_blank">
				<i class="fa fa-weibo"></i>
			</a>
			</li>
		<% } %>
		<!--Github-->
		<% if (theme.social.github) { %>
			<li>
				<a href="<%= theme.social.github%>" title="Github" target="_blank">
				<i class="fa fa-github"></i>
			</a>
			</li>
		<% } %>
	</ul>
</div>