<div class="social">
	<ul class="social-list">
		<% Object.keys(theme.social).forEach(function(key) { %>
			<% var value = theme.social[key]; if (value) { %>
				<li>
					<a href="<%= value%>" title="<%= key%>" target="_blank">
						<i class="fa fa-<%= key%>"></i>
					</a>
				</li>
			<% } %>
		<% }); %>
	</ul>
</div>